.nav-bar {
  position: fixed;
  width: 374px;
  height: 70px;
  bottom: 8px;
  border-radius: 0px 0px 24px 23px;
  background-color: rgb(39, 63, 69);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-icon {
  text-align: center;
}
