@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.mobile-container {
  margin: 0 auto;
  margin-top: 25px;
  width: 375px;
  min-height: 812px;
  border: 1px solid black;
  border-radius: 25px;
  background-color: #eee;
  position: relative;
  overflow: hidden;
}

.app-name {
  font-size: 46px;
}

.page-container {
  padding: 25px;
}

.page-image-container {
  border-radius: 25px 25px 0px 0px;
  height: 162px;
  overflow: hidden;
}
