.track-content-container {
  padding: 15px;
}

.track-name {
  font-size: 28px;
}

.track-btn {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  color: #eee;
  background-color: #285656;
  padding: 10px 20px;
}

.track-info-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-bottom: 14px;
}

.track-info-heading {
  font-size: 14px;
  font-weight: 300;
}

.points-info {
  background-color: rgb(253, 196, 56, 0.9);
  font-size: 13px;
  padding: 5px 15px;
  border-radius: 8px;
}

.track-info-line {
  height: 0.8px;
  width: 100%;
  background-color: rgb(39, 63, 69);
  margin-top: 16px;
}

.weather-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.weather-rectangle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 130px;
  width: 90px;
  padding: 10px;
  border-radius: 20px;
  background-color: #fff;
}

.suntime-rectangle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 130px;
  width: 130px;
  padding: 10px;
  border-radius: 20px;
  background-color: #fff;
}

.weather-icon {
  width: 40px;
  height: 40px;
}

.weather-day {
  font-size: 16px;
  font-weight: 600;
}

.weather-temp {
  font-size: 14px;
  font-weight: 300;
}

.weather-area {
  height: 250px;
  width: 100%;
}
