.track-content-container {
  padding: 15px;
}

.track-name {
  font-size: 28px;
  margin-bottom: 10px;
}

.track-btn {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  color: #eee;
  background-color: #285656;
  padding: 10px 20px;
}